pandas==2.2.0
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
networkx==3.3
nltk==3.8.1
gensim==4.3.3
scikit-learn==1.4.2
spacy==3.8.5
textblob==0.17.1
tqdm==4.66.4
python-louvain==0.16  # for `community` package
plotly
wordcloud
torch
transformers